<!DOCTYPE html>
{% load static %}
<html>
    <head>
           <title>Anissla</title>

           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

           <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

           <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

           <script type ="text/javascript">
              var user = '{{request.user}}'

              function getToken(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = cookies[i].trim();
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }
              var csrftoken = getToken('csrftoken')


              function getCookie(name) {
                // Split cookie string and get all individual name=value pairs in an array
                var cookieArr = document.cookie.split(";");

                // Loop through the array elements
                for(var i = 0; i < cookieArr.length; i++) {
                  var cookiePair = cookieArr[i].split("=");

                  /* Removing whitespace at the beginning of the cookie name
                  and compare it with the given string */
                  if(name == cookiePair[0].trim()) {
                    // Decode the cookie value and return
                    return decodeURIComponent(cookiePair[1]);
                  }
                }

                 // Return null if not found
                return null;
              }
              var cart = JSON.parse(getCookie('cart'))

              if (cart == undefined) {
                cart = {}
                console.log('Cart was created!')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
              }

              console.log('Cart:', cart)
            </script>
    </head>
    <body>

        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            
            <a class="navbar-brand" href="{% url 'store' %}">&#x2661; Anissla</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'products' %}">Products <span class="sr-only"></span></a>
                </li>
            </ul>
            <div class="form-inline my-2 my-lg-0">
                 <a href="#"class="btn btn-warning">Login</a>
                 
                 <a href="{% url 'cart' %}">
                    <img  id="cart-icon" src="{% static 'images/cart.png' %}">
                </a>
                <p id="cart-total">{{cartItems}}</p>
    
            </div>
          </div>
        </nav>

        <div class="container">
            <br>
            {% block content %}

            {% endblock content %}
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
     
    <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    
    </body>
</html>