{% extends 'store/main.html' %}
{% load static%}
{% block content %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-3">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">Welcome to Anissla.</h1>
        <p class="lead text-muted">This website is created by: An Pham, Marissa Angeles, and Necla Tefon. Third-year software engineering project</p>
        <p>
          <a href="#" class="btn btn-primary my-2">Make an account</a>
        </p>
      </div>
    </div>
  </section>

</main>

{% endblock content %}
