{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div id="customer support">
    <hr>
    <p>Contact Information</p>
    <hr>
    <div class="form-field">
        <input class="form-control" type="text" name="Firstname" placeholder="First name...">
    </div>
    <div class="form-field">
        <input class="form-control" type="text" name="Lastname" placeholder="Last name...">
    </div>
    <div class="form-field">
        <input class="form-control" type="text" name="email" placeholder="Email...">
    </div>
    <div class="form-group">
        <br>
        <label for="exampleFormControlTextarea1">Please let us know your concerns:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        
    </div>
    <p class="lead">
        <br>
        <a class="btn btn-primary btn-sm" href="{% url 'store' %}" role="button">Submit & Continue to Home</a>
      </p>

</div>
{% endblock content %}