{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for top in tops %}
    <div class="col-lg-4">
        <img class="thumbnail" src="{{top.image.url}}">
        <div class="box-element product">
            <h6><strong>{{top.name}}</strong></h6>
            <hr>

            <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 style="float: right"><strong>${{top.price|floatformat:2}}</strong></h4>

        </div>
    </div>
    {% endfor %}

</div>

{% endblock content %} 